/** @format */

.library {
	position: fixed;
	background: #fcdada;
	top: 0;
	left: 0;
	width: 20rem;
	height: 100%;
	box-shadow: 2px 2px 50px gray;
	border-radius: 1rem;
	overflow: scroll;
	opacity: 0;
	transform: translateX(-100%);
	transition: all 0.5s ease;
	h2 {
		padding: 3rem;
	}
}

.library-song {
	display: flex;
	align-items: center;
	padding: 1rem 2rem 1rem 2rem;
	overflow: scroll;
	cursor: pointer;
	transition: background 0.5s ease;
	img {
		width: 30%;
	}
	&:hover {
		background: #ffa5a5;
	}
}

.song-description {
	padding-left: 1rem;
	h3 {
		font-size: 1rem;
	}
	h4 {
		font-size: 0.7rem;
	}
}

* {
	scrollbar-width: thin;
	scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

//To make scrollbar work on Chrome/Safari/Edge
*::-webkit-scrollbar {
	width: 5px;
}
*::-webkit-scrollbar-track {
	background: transparent;
}
*::-webkit-scrollbar-thumb {
	background-color: rgba(155, 155, 155, 0.5);
	border-radius: 20px;
	border: transparent;
}

.selected {
	background: #f18080;
}

.active-library {
	transform: translateX(0%);
	opacity: 1;
}

@media screen and (max-width: 768px) {
	.library {
		width: 100%;
	}
	.library-active {
		margin-left: 30%;
	}
	body {
		background: #fcdada;
	}
}
